body {
    background-color: dimgrey;
}

#container {
    padding: 5%;
}

#CofeeForm {
    padding: 15%;
    display: none;
}

#CofeeFormUpdate {
    padding: 15%;
    display: none;
}

#coffeeCards {
    padding: 5%;
    display: none;
}